# build artifacts
**/build/
**/out/
**/*.jar
**/*.war

# gradle
.gradle/
gradle/
gradle-*/
gradle.zip

# docker/image artifacts
*.tar
*.tar.gz
*.tgz

# secrets
*.pem
*REAL*

# build artifacts / images
*.tar
*.tar.gz
*.tgz
