# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.lock.hcl

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables (민감정보)
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local logs / outputs
out.json
*.log

# Archives
*.zip
